[submodule "tooling/bluemap-addon-toolkit"]
	path = tooling/bluemap-addon-toolkit
	url = https://github.com/jan-guenter/bluemap-addon-toolkit.git
[submodule "modules/bluemap-addon-runtime"]
	path = modules/bluemap-addon-runtime
	url = https://github.com/jan-guenter/bluemap-addon-runtime.git
